@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

:root:not([data-theme="light"]) {
  --primary: #c7b198;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #000;
  --background-color: #000;
  --color: hsl(205deg, 16%, 77%);
  --card-background-color: #000;
  --font-family: "Goudy Bookletter 1911", serif;
}

$color: #c7b198;

html {
  background: black;
  font-family: "Goudy Bookletter 1911";
}
body {
  padding: 0 50px 50px;
}

html,
body {
  width: 100%;
  height: auto;
}

body > header,
body > main,
body > footer {
  padding: 0;
}

main > article {
  margin: 0;
  padding: 0;

  & > section {
    margin-bottom: 0;
  }
}

a,
h1 {
  color: $color;
  font-size: 22px;
  transition: color 0.3s ease-in-out;
  --typography-spacing-vertical: 1rem;
}

a:hover,
h1:hover {
  color: $color;
}

nav {
  align-items: center;
  a,
  h1 {
    margin: 0;
    padding: var(--nav-link-spacing-vertical) var(--nav-link-spacing-horizontal);
    line-height: 100%;
  }
  h1 {
    padding-left: 0;
  }
  a {
    padding-right: 0;
  }
}

body {
}

#sketches {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0; // remove gaps between grid items
  margin: 0;
  padding: 0;

  .grid-item {
    width: 50%; // default width and height
    outline: solid 1px $color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;

    &.is-dragging {
      z-index: 9999;
    }

    &--width1 {
      width: 25%;
    } // override default width
    &--width2 {
      width: 50%;
    }
    &--width3 {
      width: 75%;
    }

    &--height1 {
      height: 25vh;
      aspect-ratio: 1 / 1;
    } // override default height
    &--height2 {
      height: 50vh;
    }
  }
}
