@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

:root:not([data-theme="light"]) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #fff;

  --background-color: #000;
  --color: hsl(205deg, 16%, 77%);
  --card-background-color: #000;
}

$color: #c7b198;

html {
  background: black;
}
body {
  padding: 50px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body > header,
body > main,
body > footer {
  padding: 0;
}

main > article {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  & > section {
    margin-bottom: 0;
  }
}

a,
h1 {
  transition: color 0.3s ease-in-out;
}

a:hover,
h1:hover {
  color: $color;
}

body {
}

#sketches {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0; // remove gaps between grid items
  margin: 0;
  padding: 0;
  height: 100%;
  outline: solid 1px $color;

  .grid-item {
    width: 50%; // default width and height
    outline: solid 1px $color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &--width1 {
      width: 25%;
    } // override default width
    &--width2 {
      width: 50%;
    }
    &--width3 {
      width: 75%;
    }

    &--height1 {
      height: 25%;
    } // override default height
    &--height2 {
      height: 50%;
    }
  }
}
